In [1]:
1 +3

4

In [2]:
1 *4

4

In [3]:
10/3

3.3333333333333335

In [4]:
10//3

3

In [5]:
10%3

1

In [8]:
name = 'Alistair'

In [9]:
type(name)

str

In [10]:
number = 42

In [11]:
type(number)

int

In [12]:
precise_number = 42.545421

In [13]:
type(precise_number)

float

In [16]:
my_list = [1,2,3,4]

In [17]:
my_list

[1, 2, 3, 4]

In [18]:
type(my_list)

list

In [19]:
my_list

[1, 2, 3, 4]

In [20]:
my_list[0]

1

In [21]:
my_list[3]

4

In [22]:
my_list[0:2]

[1, 2]

In [23]:
my_list[:]

[1, 2, 3, 4]

In [24]:
my_list[:-2]

[1, 2]

In [25]:
my_list[::2]

[1, 3]

In [27]:
reverse_list = my_list[::-1]

In [28]:
reverse_list

[4, 3, 2, 1]

In [30]:
my_list

[4, 3, 2, 1]

In [54]:
sentence = 'The other day I said "Hello" to a friend'

In [55]:
sentence

'The other day I said "Hello" to a friend'

In [57]:
sentence[2:13]

'e other day'

In [58]:
my_list[1] = 'shoe'

In [59]:
my_list

[4, 'shoe', 2, 1]

In [60]:
del(my_list[0])

In [61]:
my_list

['shoe', 2, 1]

In [62]:
sentence[2:13] = 'down'

TypeError: 'str' object does not support item assignment

In [63]:
staff = {'name':'Alistair','age': 21, 'shoe_size': 42}

In [64]:
staff # make one a list

{'age': 21, 'name': 'Alistair', 'shoe_size': 42}

In [66]:
staff['name']

'Alistair'

In [67]:
for num in my_list:
    print(num)

shoe
2
1

In [70]:
for each_item in my_list:
    print(each_item * 2)

shoeshoe
4
2

In [79]:
staff.items()

dict_items([('age', 21), ('shoe_size', 42), ('name', 'Alistair')])

In [81]:
for k,v in staff:
    print(k,v)

age g
shoe_size g
name g